#app
PORT=3001
ALLOWED_ORIGIN=http://localhost:3000

#postgres db (quiz-builder-pg docker container)
POSTGRES_USER=#postgres
POSTGRES_PASSWORD=#postgres
POSTGRES_HOST=#localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=#quiz_builder
